<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
            <h3>Welcome to Order Register page</h3>
            </div>
            <a th:href="@{/order/all}"> GetAll Orders</a>
            
            <div class="card-body">
<form id="orderRegForm" th:action="@{/order/save}" method="post" th:object="${order}">
    <!-- 1st row -->
<div class="row">
<div class="col-4">
<label>Order Mode</label>
</div>
<div class="col-4">
    <input type="radio" th:field="*{orderMode}" id="orderMode1" value="Sale"/>Sale
    <input type="radio" th:field="*{orderMode}" id="orderMode2" value="Purchase"/>Purchase
</div>
<div class="col-4">
    <span id="orderModeError"></span>
</div>

</div>
   <!-- 2nd row -->
   <div class="row">
    <div class="col-4">
    <label> Order Code :</label>
    </div>
    <div class="col-4">
        <input type="text" th:field="*{orderCode}" id="orderCode" class="form-control">
    </div>
    <div class="col-4">
         <span id="orderCodeError"></span> 
    </div>
    
    </div>
      <!-- 3rd row -->
      <div class="row">
        <div class="col-4">
        <label>Order Method</label>
        </div>
        <div class="col-4">
            <select  th:field="*{orderMethod}" id="orderMethod" class="form-control">
                <option value="">-SELECT-</option>
                <option value="FIFO">FIFO</option>
                <option value="LIFO">LIFO</option>
                <option value="FCFO">FCFO</option>
                <option value="FEFO">FEFO</option>
            </select>
        </div>
        <div class="col-4">
            <span id="orderMethodError"></span>
        </div>
        
        </div>
         <!-- 4th row -->
         <div class="row">
            <div class="col-4">
            <label>Order Accept</label>
            </div>
            <div class="col-5">
               <input type="checkbox" th:field="*{orderAccept}" id="orderAccept1"  value="MultiModel"/>MultiModel
               <input type="checkbox" th:field="*{orderAccept}" id="orderAccept2"   value="AcceptReturn"/>AcceptReturn


            </div>
            <div class="col-3">
                <span id="orderAcceptError"></span>
            </div>
            
            </div> 
            <!-- 5th row -->
            <div class="row">
                <div class="col-4">
                <label>Order Description</label>
                </div>
                <div class="col-4">
                    <input type="text" th:field="*{orderDescription}" id="orderDescription" class="form-control"/>

                </div>
                <div class="col-4">
                    <span id="orderDescriptionError"></span>
                </div>
                
                </div>
<input type="submit" value="Register Order" class="form-control"/>
</form>
            </div>
            <div class="card-footer">
            <span th:text="${message}"></span>
            </div>
        </div>
    </div>
    <script>
 $(document).ready(function(){

$("#orderModeError").hide();
$("#orderCodeError").hide();
$("#orderMethodError").hide();
$("#orderAcceptError").hide();
$("#orderDescriptionError").hide();

var orderModeError=false;
var orderCodeError=false;
var orderMethodError=false;
var orderAcceptError=false;
var orderDescriptionError=false;

function validate_orderMode()
{
var val=$("[name='orderMode']:checked").length;
if(val==0)
{
    $("#orderModeError").show();
    $("#orderModeError").text("Please Select Order Mode");
    orderModeError=false;
}
else{
    $("#orderModeError").hide();
    orderModeError=true;
}
    return orderModeError;
}
function validate_orderCode()
{
    var val=$("#orderCode").val();
    if(val=='')
    {
        $("#orderCodeError").show();
        $("#orderCodeError").text("Please Enter Order Code");
        orderCodeError=false;
    }
    else{
        $("#orderCodeError").hide();
        orderCodeError=true;
    }
    return orderCodeError;
}
function validate_orderMethod()
{
  var val=  $("#orderMethod").val();
  if (val=='')
  {
    $("#orderMethodError").show();
    $("#orderMethodError").text("Please select Order method");
    orderMethodError=false;
  }
  else{
    $("#orderMethodError").hide();
    orderMethodError=true;

  }
    return orderMethodError;
}
function validate_orderAccept()
{ 
    var val=  $('[name="orderAccept"]:checked').length;
  if (val==0)
  {
    $("#orderAcceptError").show();
    $("#orderAcceptError").text("Please select  atleast one Order Type");
    orderAcceptError=false;
  }
  else{
    $("#orderAcceptError").hide();
    orderAcceptError=true;
  }
    return orderAcceptError;
}
function validate_orderDescription()
{
   var val= $("#orderDescription").val();
   if(val=='')
   {
    $("#orderDescriptionError").show();
    $("#orderDescriptionError").text("Please Enter Order Description");
    orderDescriptionError=false;

   }
   else{
    $("#orderDescriptionError").hide();
    orderDescriptionError=true;

   }
    return orderDescriptionError;
}
$("#orderMode").change(function(){
validate_orderMode();
  });
  $("#orderCode").keyup(function(){
validate_orderCode();
});
$("#orderMethod").change(function(){
validate_orderMethod();
});
$("orderAccept").click(function(){
validate_orderAccept();
});
$("#orderDescription").keyup(function(){
 validate_orderDescription();
});

$("#orderRegForm").submit(function(){
    validate_orderAccept();
    validate_orderCode();
    validate_orderDescription();
    validate_orderMethod();
    validate_orderMode();
    if(orderAcceptError && orderCodeError && orderDescriptionError && orderMethodError && orderModeError)
    {
        return true;
    }
    else{
        return false;
    }
});
 });   
    </script>
</body>
</html>