<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h3>Welcome to PurchaseOrder Register Page</h3>
				<a th:href="@{/purchaseorder/all}"> GetAll Parts</a>

			</div>

			<div class="card-body">
				<form th:action="@{/purchaseorder/save}" method="post" th:object="${purchaseOrder}">
					<!-- 1st row -->
					<div class="row">
						<div class="col-4">
							<label>Order Code</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{orderCode}" id="orderCode"class="form-control"/>
						</div>
						<div class="col-4">
						</div>

					</div>
					
					<div class="row">
						<div class="col-4">
							<label>Shipment Code</label>
						</div>
						<div class="col-4">
							<select th:field="*{shipment.shipmentId}" class="form-control">
							<option value="">-SELECT-</option>
							<option th:each="po:${shipments}" th:value="${po.key}"  th:text="${po.value}"></option>
							</select>
						</div>
						<div class="col-4">
						</div>
						
						</div>
						<div class="row">
						<div class="col-4">
							<label>Select Vendor </label>
						</div>
						<div class="col-4">
							<select th:field="*{userTypeVendor.userId}" class="form-control">
							<option value="">-SELECT-</option>
							<option th:each="po:${userTypeVendors}" th:value="${po.key}"  th:text="${po.value}"></option>
							</select>
						</div>
						<div class="col-4">
						</div>
						
						</div>
						
					
					<!-- 2nd row -->
					<div class="row">
						<div class="col-4">
							<label> Reference Number</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{referenceNumber}"
								id="referenceNumber" class="form-control"/>
						</div>
						<div class="col-4"></div>

					</div>
					<!-- 3rd row -->
					<div class="row">
						<div class="col-4">
							<label>Quality Check</label>
						</div>
						<div class="col-4">
							<input type="radio" th:field="*{qualityCheck}" value="Required" />Required
							<input type="radio" th:field="*{qualityCheck}" value="Not Required" />Not Required
						</div>

						<div class="col-4"></div>

					</div>
					<!-- 4th row -->
					<div class="row">
						<div class="col-4">
							<label>Status</label>
						</div>
						<div class="col-5">
							<input type="text" th:field="*{status}" class="form-control" readonly/>

						</div>
						<div class="col-3"></div>

					</div>


					<div class="row">
						<div class="col-4">
							<label> Description</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{description}" class="form-control" />

						</div>
						<div class="col-4"></div>

					</div>
					<input type="submit" value="Create Purchase Order"
						class="form-control" />
				</form>
			</div>





			<div class="card-footer">
				<span th:text="${message}"></span>
			</div>
		</div>
	</div>
</body>
</html>