<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
  

    <div class="container">
        <div class="card">
            <div class="card-header">
            <h3>Welcome to Uom Register page</h3>
            </div>
            <div class="card-body"> 
                <form th:action="@{/uom/save}" method="post" id="uomRegForm" th:object="${uom}">
                 <div class="row">
                    <div class="col-4">
                     <label> Uom Type   :</label>
                    </div>
                    <div class="col-4">
                       <select id="uomType" th:field="*{uomType}" class="form-control">
                            <option value="">-SELECT-</option>
                            <option value="PACKING">PACKING</option>
                            <option value="NON PACKING">NON PACKING</option>
                            <option value="NA">NA</option>
                  
                          </select> 
                    </div>
                    <div class="col-4">
                        <span id="uomTypeError"></span>
                    </div>
                 </div>

                 <div class="row">
                    <div class="col-4">
                      <label>Uom Model: </label>     
                    </div>
                    <div class="col-4">
                        <input type="text" id="uomModel" th:field="*{uomModel}" class="form-control"/>
                    </div>
                    <div class="col-4">
                        <span id="uomModelError"></span>
                    </div>
                 </div>
                 
                 <div class="row">
                    <div class="col-4">
                    <label>Uom Description :</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="uomDescription" th:field="*{uomDescription}" class="form-control" />
                    </div>
                    <div class="col-4">
                        <span id="uomDescriptionError"></span>
                    </div>
                 </div>
                 <input type="submit" value="Register Uom" class="form-control"/>

                </form>

            </div>
            <div class="card-footer">
                <span th:text="${message}"></span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
 
       $("#uomTypeError").hide();
       $("#uomModelError").hide();
       $("#uomDescriptionError").hide();

       var uomTypeError=false;
       var uomModelError=false;
       var uomDescriptionError=false;
          
       function validate_uomType()
       {
       
       var val= $("#uomType").val();
       if(val=='')
       {
        $("#uomTypeError").show();
        $("#uomTypeError").html("<b>Please select UOM Type</b>");
        $("#uomTypeError").css("color","red");
        uomTypeError=false;
       }
       else{
        $("uomTypeError").hide();
        uomTypeError=true;
       }
       return  uomTypeError;

       }
       
       function validate_uomModel()
       {
       var val= $("#uomModel").val();
      
       if(val=='')
       {
        $("#uomModelError").show();
        $("#uomModelError").html("<b>Please Enter UOM  Model</b>");
        $("#uomModelError").css("color","red");
        uomModelError=false;
       }
      
       else
       {
    	    
        $("#uomModelError").hide();
        uomModelError=true;
       }
       return  uomModelError;

       }
       function validate_uomDescription()
       {
       var val= $("#uomDescription").val();
       if(val=='')
       {
        $("#uomDescriptionError").show();
        $("#uomDescriptionError").html("<b>Please Enter  UOM Description</b>");
        $("#uomDescriptionError").css("color","red");
        uomDescriptionError=false;
       }
       else{
        $("uomDescriptionError").hide();
        uomDescriptionError=true;
       }
       return  uomDescriptionError;

       }

       $("#uomType").change(function(){
        validate_uomType();
       });
       $("#uomModel").keyup(function(){
        validate_uomModel();
       });
       $("#uomDescription").keyup(function(){
        validate_uomDescription();
       });

       $("#uomRegForm").submit(function(){
          validate_uomType();
          validate_uomModel();
          validate_uomDescription();
          if(uomTypeError && uomModelError && uomDescriptionError)
          {
            return true;
          }
          else{
            return false;
          }
       });

        });

       
        </script>

</body>
</html>