<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h3>Welcome to User Update Page</h3>
<form th:action="@{/user/update}" method="post" th:object="${user}">
<pre>
User Id  :     <input type="text" th:field="*{userId}"/>
User Type:     <input type="radio" th:field="*{userType}" value="Vendor"/>Vendor
               <input type="radio" th:field="*{userType}" value="Customer"/>Customer
User Code   :  <input type="text"th:field="*{userCode}"/>
User For    :   <input type="checkbox" th:field="*{userFor}" value="Purchase"/>Purchase
                <input type="checkbox" th:field="*{userFor}" value="Sale"/>Sale
User Email  : <input type="text"th:field="*{userEmail}"/>
User Contact: <textarea th:field="*{userContact}"></textarea>
User ID Type: <select th:field="*{userIdType}">
                <option value="">-SELECT-</option>
                <option value="PANCARD">PANCARD</option>
                <option value="AADHAR">-SELECT-</option>
                <option value="VOTER ID">AADHAR</option>
                <option value="OTHER">OTHER</option>
               </select>
If Other   : <input type="text" th:field="*{ifOther}"/>
ID Number  :<input type="text" th:field="*{userIdNumber}"/>
<input type="submit" value="Update user"/>

</pre>
</form>
<span th:text="${message}"></span>

</body>
</html>