<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>Welcome to Order Edit page</h3>
<form th:action="update" method="post" th:object="${order}">
<pre>
  Order ID        : <input type="text" th:field="*{orderId}"/>
  
  Order Mode      :<input type="radio" th:field="*{orderMode}" value="Sale"/>Sale
                   <input type="radio" th:field="*{orderMode}" value="Purchase"/>Purchase
                   
  Order Code      :<input type="text" th:field="*{orderCode}"/>
  
  Order Method    :<select th:field="*{orderMethod}">
                   <option value="">-SELECT-</option>
                     <option value="FIFO">FIFO</option>
                     <option value="LIFO">LIFO</option>
                      <option value="FCFO">FCFO</option>
                     <option value="FEFO">FEFO</option>
               
                    </select>
  Order Accept    :<input type="checkbox"  th:field="*{orderAccept}" value="MultiModel"/>MultiModel
                   <input type="checkbox"  th:field="*{orderAccept}" value="Accept Return"/>Accept Return
  
  OrderDescription:  <input type="text" th:field="*{orderDescription}"/>
  
  <input type="submit"  value="Update Order"/>

</pre>
</form>

</body>
</html>